@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #272727;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

p,
span {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* BUTTON STYLE */
/* rounded-full bg-otb-blue px-6 py-4 font-semibold uppercase shadow-md transition-all hover:bg-black hover:text-white hover:shadow-none */

.footer {
  display: flex;
}
